<div class="d-flex justify-content-between container">
  <div>
    ID: <%= @user.id%><br>
    Name: <%= @user.name %><br>
    Email: <%= @user.email %><br>
    Phone: <%= @user.phone_number %><br>
    City: <%= @user.city %><br>
    State: <%= @user.state %><br>
    Country: <%= @user.country %><br>
    <%= button_to 'Back', users_path, method: :get %><br>
  </div>
 
  
</div>
